MQ_HOST=localhost
MQ_PORT=1414
MQ_CHANNEL=DEV.APP.SVRCONN
MQ_QMGR=QM1
MQ_INPUT_QUEUE=DEV.QUEUE.1
MQ_OUTPUT_QUEUE=DEV.QUEUE.2
MQ_USER=app
MQ_PASSWORD=passw0rd
MQ_WAIT_INTERVAL_MS=2000
MQ_TLS_CIPHER_SPEC=
PROCESSOR_ID=processor-script

